body {
	background-color: black;
	background-image: url("outclass.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 50%;
	/*background-color:#00BAC7;*/
}

h1 {
	text-align: center;
	font-family: "Calibri";
	color: white;
	background-color: rgba(0,0,0,0.5);
}

h2 {
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

h3 {
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

p {
	font-size: 12pt;
	line-height: 150%;
	padding:10px;
	background-color: rgba(242,242,242,0.8);
	width: 650px;
	text-align: center;
	margin: auto;
}

.menu {
	text-align: center;
	background-color: #EDF3F3;
    font-family: "Calibri";
    font-size:18px;
    padding-top: 15pt;
}

.button {
	background-color: #e5e5e5;
	padding: 10px;
	border-color: black;
    transition-duration: 0.4s;
}

.button:hover {
	background-color: #bababa;
}